# CS50 recommended .gitignore file.
# Copy this file into any new git repository, then extend it with
# repo-specific files to be ignored (such as the name of the compiled binary).
#
# for documentation on gitignore files, see
#   https://git-scm.com/docs/gitignore

# core dumps
core

# Object files and libraries
*.o
*.a

# Emacs backup and scratch files
*~
\#*\#
.\#*

# debugger symbols
*.dSYM

# MacOS stuff
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V*
.Trashes

###########################################################################
# custom additions below here; see also .gitignore files in subdirectories.
